.container {
  display: flex;
  flex-wrap: wrap;
}
  
  .container-body {
    padding: 70px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  
  @media (max-width: 576px) {
    .container-body {
      padding: 20px;
    }
  
    .col-md-6 {
      margin-bottom: 20px;
    }
  }
  .savebtn {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .colored-button {
    padding: 10px 30px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .colored-button:hover {
    background-color: #c68949;
  }