.container {
  padding: 5px;
  padding-right: 500px;
}

.big-container {
  background-color: #ffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.mini-container {
  background-color: #ffff;
  padding: 10px;
  width: 45vh;
}
#inc-task{
  border-left: 1px solid grey;
  border-right: 1px solid grey;

}
.middle-container {
  background-color: #ffff;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-right: 30px;
  width: 64vh;
}

.semi-middle-container {
  background-color: #FFFF;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-right: 30px;
  width: 63vh;
}

.semi-mid-container {
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-right: 30px;
  width: 40vh;
}

.ts,
.tp,
.tl,
.pl,
.ml {
  font-weight: 500;
}

.chart-container {
  margin-top: 100px;
}

#doughnut {
  height: 50px; /* Decreased height */
  width: 50px; /* Decreased width */
}

#bar {
  height: 50px; /* Decreased height */
  width: 50px; /* Decreased width */
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table thead th {
  background-color: #f9f9f9;
  font-weight: bold;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.header-cell {
  background-color: black !important;
  color: white !important;
}

.status-working {
  color: greenyellow !important;
}

.status-cancelled {
  color: red !important;
}

/* Media Queries for Responsive Layout */

@media (max-width: 1199px) {
  .middle-container,
  .semi-middle-container,
  .semi-mid-container {
    margin-right: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .big-container {
    padding: 10px;
  }
  .middle-container,
  .semi-middle-container,
  .semi-mid-container {
    margin-top: 10px;
  }
}
@media (max-width: 1280px) {
  .mini-container, 
  .semi-mid-container,
  .semi-middle-container {
    width: 100%;
  }
}
@media (max-width: 336px) {
  .big-container .mini-container,
  .middle-container,
  .semi-middle-container,
  .semi-mid-container {
    margin-bottom: 15px;
  }
  .big-container .mini-container:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 336px) {
  .big-container .mini-container,
  .middle-container,
  .semi-middle-container,
  .semi-mid-container {
    padding: 4px;
    margin-bottom: 15px;
    margin-right: 10px;
    width: 80%;
  }
  .big-container .mini-container:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .big-container {
    padding: 30px;
    margin-bottom: 30px;
  }
}